/*   
Theme Name: Sample Bespoke Child
Theme URI: 
Description: 
Author: Digital Acorn
Version: 1.0.1
Author URI: http://digitalacorn.co.uk
Template: bespoke
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

.block {background-color: #aaa;}

body {background-color: #aaa;}
/* cap page-wrap to max width */
@media only screen and (min-width: 96em) {
	#page.wrap { width: 96em; }	
}

/* page centred on screen */
#page.wrap {margin: 0 auto; padding: 0 2em; background-color: white;}

/* example showing sidebar on right */
#primary.content-area {
	float: left;
	width: 75%;
}
#main .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
}

/* example menu styling */

/* specific menu */
#site-navigation > div.container {background-color: #aac; }	/* top level nav background */
ul#primary-menu ul { background-color: #aca;}	/* 2nd level + background */

/* top level bar height and offest for 2nd level menu */
#site-navigation:not(.toggled) ul#primary-menu > li > a { height: 36px; }	
#site-navigation:not(.toggled) ul#primary-menu ul  { top: 36px;}
#site-navigation:not(.toggled) ul#primary-menu ul ul { top: 0;}

/* cross-menu usefulness */

/* general link spacing */ 
ul.menu li > a { padding: 5px 20px; color: #fff;}

/* current item highlighting */
ul.menu li.current_page_item, 
ul.menu li.current-cat, 
ul.menu li.current-menu-item { background-color: #888;} 
ul.menu li.current_page_item > a, 
ul.menu li.current-cat > a, 
ul.menu li.current-menu-item > a { color: white;} 


/* ancestor of current item highlighting */
ul.menu li.current-menu-ancestor,
ul.menu li.current_page_parent {background-color: #888;}
ul.menu li.current-menu-ancestor > a,
ul.menu li.current_page_parent > a {color: white;}

/* hover states */
ul.menu li:hover { background-color: #000;  }
ul.menu li:hover > a { color: red; }

/* indication item has a child menu */
ul.menu .menu-item-has-children > a:after {content: " +";} /* menu link has children */

/* mq for site-navigation 'small screen' menu */

@media screen and (min-width: 48em) {
	#site-navigation .menu-toggle {
		display: none;
	}
	#site-navigation ul {
		display: block;
	}
}
@media screen and (max-width: 48em) {
    #site-navigation { position: absolute; top: 0; right: 0; width: 100%; padding: 10px 0; background-color: transparent; }
    body.admin-bar #site-navigation { top: 50px }
    #site-navigation > button {width: 90%; margin: 0 auto 10px;}
    #masthead {padding-top: 20px; }
    nav.toggled  {
        z-index: 1;
    }
}
#site-navigation.toggled > div.container { width: 100% ; background-color: #aac; }
#site-navigation.toggled li {display: block; float: none;}
#site-navigation.toggled ul li:hover:not(.focus) > ul {display: none;}
#site-navigation.toggled ul li.focus > ul {position: relative; float: none; top:0; z-index: 0;}
#site-navigation.toggled ul li.focus > ul li.menu-item-has-children > a:after {content: ''}
#site-navigation.toggled ul ul li.focus > ul {position: relative; float: none; top:0; z-index: 0; left: 0;}

