.bespoke_field {padding: 10px; border-top: 1px solid #ccc;}
.bespoke_field.first {border-top: none;}
.bespoke_field label {display: inline-block; font-weight: bold; width: 22%; text-align: right; padding: 0; margin: 0 3% 0 0;}
.bespoke_field .description {margin-left: 25%;}
.bespoke_field.media .actions {width: 75%; display: inline-block;}
.bespoke_field.media .thumbs {margin: 5px 0 5px 25%; }
.bespoke_field.media .thumbs .container {background-color: #f7f7f7; padding: 10px 5px;}
.bespoke_field.media .thumbs .thumbnail {display: inline-block; width: 100px; text-align: center; margin: 10px 0 0 10px; vertical-align: top;}
.bespoke_field.media .thumbs img {max-width: 100px;}
.bespoke_field.media .thumbs .filename {word-wrap: break-word;}

.bespoke_field.document .actions {width: 75%; display: inline-block;}
.bespoke_field.document .thumbs {margin: 5px 0 5px 25%; }
.bespoke_field.document .thumbs .container {background-color: #f7f7f7; padding: 10px 5px;}
.bespoke_field.document .thumbs .thumbnail {display: inline-block; width: 100px; text-align: center; margin: 10px 0 0 10px; vertical-align: top;}
.bespoke_field.document .thumbs img {max-width: 100px;}
.bespoke_field.document .thumbs .filename {word-wrap: break-word;}


.bespoke_field .button-secondary {margin-left: 25%;}
.bespoke_field p {margin-left: 25%;}
.bespoke_field .bespoke_input {vertical-align: middle; margin: 0; width: auto;}
.bespoke_field input[type="checkbox"] {width: auto;}
.bespoke_field .checkbox_label {padding: 0 10px 0 0;}
.bespoke_field.wysiwyg .bespoke_input  {margin-left: 25%;}
.bespoke_field.radio label.inner{width: auto; text-align: left; padding: 0 0 0 5px; margin: 0 20px 0 0; font-weight: normal;}

.bespoke_field.large textarea {width:50em; height: 20em;}

.da_help_content ul {list-style-type:disc;	padding: 0px 0px 0px 20px;}

#digitalacorn_dashboard_widget .da_notice {padding: 10px; margin-bottom: 10px; border: 1px solid #444;}
#digitalacorn_dashboard_widget .da_notice.info {background-color: #c0e3d7;}
#digitalacorn_dashboard_widget .da_notice.important {background-color: #fbf2de;}
#digitalacorn_dashboard_widget .da_notice.critical {background-color: #f8e7ea;}
#digitalacorn_dashboard_widget .da_notice h4 {font-weight: bold;}
#digitalacorn_dashboard_widget .rss-widget > h4 { margin-top: 1.5em; }
#digitalacorn_dashboard_widget .reload_wrap {float: right;}
#digitalacorn_dashboard_widget .reload:before {font-family: "dashicons"; content: "\f463"; font-size: 14px;}