/* https://css-tricks.com/dont-overthink-it-grids/ */

.grid {
  margin: 0 0 $pad 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-left: $pad;
  .grid &:first-child {
    padding-left: 0;
  }
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}

.col-1-5 {
  width: 20%;
}
.col-2-5 {
  width: 40%;
}
.col-3-5 {
  width: 60%;
}
.col-4-5 {
  width: 80%;
}

.col-1-6 {
  width: 16.66%;
}
.col-5-6 {
  width: 83.33%;
}


.col-1-8 {
  width: 12.5%;
}
.col-3-8 {
  width: 37.5%;
}
.col-5-8 {
  width: 62.5%;
}
.col-7-8 {
  width: 87.5%;
}


/* Opt-in outside padding */
.grid-padx {
  padding: 0 $pad 0 0;
  [class*='col-']:first-child {
    padding-left: $pad;
  }
}
.grid-pady {
  padding-top: $pad;
  padding-bottom: $pad;
}
.grid-pad {
  padding: $pad $pad $pad 0;
  [class*='col-']:first-child {
    padding-left: $pad;
  }
}

@media screen and (max-width: $bp-small) {
	.grid.small-up > [class*='col-'] {
		padding-left: 0;
		width: 100%; 	
    margin-bottom: $pad;
	}
  .grid.small-up > [class*='col-']:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $bp-medium) {
	.grid.medium-up > [class*='col-'] {
		padding-left: 0;
		width: 100%; 
    margin-bottom: $pad;
	}
  .grid.medium-up > [class*='col-']:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $bp-large) {
	.grid.large-up > [class*='col-'] {
		padding-left: 0;
		width: 100%; 
    margin-bottom: $pad;
	}
  .grid.large-up > [class*='col-']:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $bp-xlarge) {
	.grid.xlarge-up > [class*='col-'] {
		padding-left: 0;
		width: 100%; 
    margin-bottom: $pad;
	}
  .grid.xlarge-up > [class*='col-']:last-child {
    margin-bottom: 0;
  }
}
