/*!
Theme Name: Bespoke
Theme URI: http://underscores.me/
Author: Digital Acorn Limited
Author URI: http://www.digitalacorn.co.uk
Description: Bespoke is a pluggable and hooks-rich vanilla parent theme loaded with all the core features needed to construct a glorious small business or community website.
Version: 4.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bespoke
Tags:

This theme, like WordPress, is licensed under the GPL.

Bespoke was born from 
	Bespoke 3.0 (C) 2011-2016 Digital Acorn Limited
and 
	Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc. 

Underscores is distributed under the terms of the GNU GPL v2 or later.
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
!*/

$bp-small : 32em;	/* ~512px @ 16px */
$bp-medium : 48em;	/* ~768 @ 16px */
$bp-large : 64em;	/* ~1024px @ 16px */
$bp-xlarge : 96em;	/* ~1536px @ 16px */

@import 'underscores';

$pad: 20px;
@import 'grid';

.slideshow.starthidden:not(.slick-slider) {visibility: hidden;};
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import 'slick-theme';

/* attachments */
.attachment-block {margin: 14px -14px 0 0; overflow: hidden;}
.attachment-entry-wrap {width: 20%; height: auto; vertical-align: top; display: inline-block; overflow: hidden; position: relative;}
.attachment-entry {margin: 0 14px 14px 0; background-repeat: no-repeat; background-position: 50% 8px;}
.attachment-entry:hover {opacity: .8;}
.attachment-entry .filename {width: 90%; overflow: hidden; text-align: center; margin: 0 auto; padding: 73px 5px 5px; word-wrap: break-word;}
.attachment-entry .size {width: 90%; margin: 0 auto; text-align: center;}
.attachment-entry .overlay a {position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 9; background: url('img/ie_mask.png') repeat 0 0;}

.attachment-block.many .attachment-entry {background-position: 8px 8px; min-height: 75px; margin: 0;}
.attachment-block.many .attachment-entry .filename {margin: 10px 0 0 80px; padding: 10px 0 0 0; text-align: left; }
.attachment-block.many .attachment-entry .size {margin: 0 0 0 80px; padding: 0px; text-align: left; }
.attachment-block.many .attachment-entry-wrap {width: 100%;}


div.term_links ul {display: inline-block; list-style: none; margin: 0; padding: 0;}
div.term_links li {display: inline-block; margin-left: 0.5em; }
div.term_links li:after {content: ','; }
div.term_links li:last-of-type:after {content: ''; }

div.missing_featured_image {display: inline-block;}
div.missing_featured_image span.text {display: none;
}

.block {position: relative;}
.block > .cover {position: absolute; top: 0; right: 0; left: 0; bottom: 0;}

.social_shares { font-size: 0.8em; margin: 1em 0;}
.social_sharer { display: inline-block; margin-right: 2px; padding: 5px 10px; background: #eee; border-radius: 0 0 5px 5px; border-top: 2px #dadada; }
.social_sharer i { font-size: 1.5em; }
.social_sharer:hover {background: #dadada; }
.social_sharer.facebook { border-top: 2px solid #0e1f56; color: #0e1f56; }
.social_sharer.twitter { border-top: 2px solid #4099FF; color: #4099FF; }

.social_profiles { font-size: 3em; }
.social_profiles .social_profile { display: inline-block; margin-right: 10px; }
.social_profiles .social_profile:last-of-type { margin-right: 0;}
.social_profiles .social_profile:hover { opacity: .8; }

#fullscreengallery {position: fixed; top:0; left:0; width: 100%; height: 100%; background-color: #fff; display: none; text-align: center;}
#fullscreengallery .container { position: relative; padding: 40px 0; }
#fullscreengallery .close { position: absolute; font-size: 2em; top: 20px; right: 20px; z-index: 1;}
#fullscreengallery .slick-slide { outline-color: transparent; outline-style: none;}
#fullscreengallery figure {max-width: 95%; height: 80vh; margin: auto; background: url("./img/ajax-loader.gif") center top no-repeat;}
#fullscreengallery img { max-height: 75vh; margin: auto;}
